.cert-gallery {
    margin: 0 auto;
    max-width: max-content;
    padding: 20px;
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    gap: 20px;
}

@media (max-width: 960px) {
    .cert-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 699px) {
    .cert-gallery {
        grid-template-columns: 1fr;
    }
}