footer {
    background-color: rgb(26, 25, 25);
    padding: 14px;
    width: 100%;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer time {
    font-size: 24px;
}