main {
    position: relative;
    scroll-margin-top: 76px !important;
}

h1 {
    margin-top: 12px;
}

.cv-title {
    text-align: center;
    font-size: 42px;
}

.cv-subtitle {
    margin-top: 10px;
    font-size: 32px;
    text-align: center;
}

main section {
    margin-top: 20px;
}

main .section-title {
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 24px;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
    border-bottom: 1px solid white;
}

.about-text {
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
}

.projects__item {
    margin-bottom: 24px;
}

.projects__item-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.projects__item-description {
    display: flex;
    gap: 2%;
    margin-bottom: 20px;
    padding: 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.projects__item-description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    gap: 5px;
}

.projects__item-description-text {
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
}


.projects__item-link {
    color: lightgray;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black, 0 0 0.1em white, 0 0 0.1em white;
    transition-duration: .5s;
}

.projects__item-link:hover {
    color: lightgreen;
}

.projects__item-link--hover:hover {
    filter: brightness(.7);
}

.projects__item-link:first-of-type {
    display: inline-block;
    margin-right: 4px;
}

.projects__item-link:last-of-type {
    display: inline-block;
    margin-left: 4px;
}

.projects__img-wrapper {
    width: 49%;
    text-align: center;
}

.exp__title-item {
    font-weight: 600;
    margin-bottom: 10px;
}

.exp__subtitle {
    margin-bottom: 10px;
}

.exp__item {
    margin-bottom: 24px;
}

.exp__text {
    line-height: 1.4;
    text-align: justify;
}

.lang-list {
    margin-bottom: 24px;
}

.lang-item {
    display: flex;
    gap: 12px;
    align-items: center;
}

.load-pdf {
    position: absolute;
    display: block;
    width: max-content;
    top: 24px;
    left: 20px;
    background-color: #2d0a79;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 0 0 0 white, 0 0 0.7em white;
}

.load-pdf div {
    background-color: inherit;
    color: inherit;
    padding: 7px 12px 7px 6px;
    line-height: 1.4;
    font-size: 18px;
    width: 120px;
    border-radius: 15px;
    text-align: center;
    outline-offset: unset;
    transition-duration: 0.5s;
}

main .load-pdf div:hover {
    box-shadow: 0 0 0 lawngreen, 0 0 0.7em lawngreen;
    color: lawngreen;
}

.load-pdf .arrow {
    font-weight: 700;
    padding: 0 4px;
}

.load-pdf .pdf {
    font-weight: 700;
    padding-left: 6px;
}

.img-cert {
    cursor: zoom-in;
}

.modal {
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: auto;
}

.modal-cert {
    max-width: 90vw;
    max-height: 90vh;
}

.modal.active {
    display: flex;
}

.btn-close-modal {
    display: block;
    position: absolute;
    top: 18px;
    right: 18px;
    z-index: 3;
    padding-block: 10px;
    padding-inline: 12px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 700;
}

@media (min-width: 480px) {
    .btn-close-modal {
        right: 36px;
    }
}