@media (max-width: 960px) {
    aside {
        width: 100%;
        border-right: none;
    }

    main {
        width: 100%;
    }

    .avatar {
        display: none;
    }

    .sidebar__list {
        max-width: 90%;
    }
}

@media (max-width: 640px) {
    header {
        background-image: linear-gradient(to right,
                rgba(57, 21, 135, 0.7) 17%,
                rgba(121, 4, 125, 0.7) 49%);
        position: sticky;
        padding: 8px;
    }

    .container {
        background-image: none;
        background-color: #2f0d78;
    }

    .cv-title {
        font-size: 34px;
    }

    .cv-subtitle {
        font-size: 24px;
    }

    .projects__item-description {
        flex-direction: column;
        gap: 20px;
    }

    .projects__item-description-wrapper {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .projects__img-wrapper {
        width: 100%;
    }

    .footer__list {
        justify-content: space-between;
    }

    .load-pdf {
        display: none;
    }

    #pdfLink {
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        background-color: #5b13f9;
        box-shadow: none;
    }

    .load-pdf button {
        padding: 10px;
        padding-left: 6px;
        border-radius: 12px;
        line-height: 1;
        font-size: 16px;
        width: 80px;
        text-align: center;
    }
}